NODE_ENV = production
# PORT
PORT = 3000

# DATABASE
DB_HOST = localhost
DB_PORT = 27017
DB_DATABASE = prod

# TOKEN
SECRET_KEY = secretKey

# LOG
LOG_FORMAT = combined
LOG_DIR = logs

# CORS
ORIGIN = localhost:3000,localhost:3001
CREDENTIALS = true
